.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(225, 175, 225);
  height: 100vh;
  max-width: 100vw;
}

.login-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.login-heading h1 {
  color: black;
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 5px;
}

.login-heading h3 {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-username-container {
  display: flex;
  flex-direction: column;
  flex-direction: center;
  justify-content: center;
  align-items: left;
  margin-bottom: 20px;
}

.login-password-container {
  display: flex;
  flex-direction: column;
  flex-direction: center;
  justify-content: center;
  align-items: left;
  margin-bottom: 20px;
}

.login-input {
  margin-top: 7px;
  border: 2px white;
  height: 30px;
  border-radius: 3px;
  padding-left: 10px;
  outline-color: rgb(233, 233, 233);
  box-shadow: none;
}
